@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500&display=swap');

body {
  background: linear-gradient(rgba(0, 0, 0,.9), rgba(34,34,34,.9)), url("/resources/images/photo-1639754390580-2e7437267698.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  height: 100%;
}

h1 {
  font-family: poppins, sans-serif;
  color: yellow;
}

h2 {
  font-family: Roboto, sans-serif;
  color: white;
}

h3 {
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  color: yellow;
}

#title {
  padding: 10px;
  line-height: 10px;
}

p {
  font-family: poppins, sans-serif;
  line-height: 20px;
  color: white;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

img {
  width: 700px;
  margin-left: 100px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form [type="submit"] {
  height: 50px;
  width: 50%;
  background-color: yellow;
  color: rgb(34, 34, 34);
  font-family: poppins, sans-serif;
  font-weight: bold;
}

form [type="submit"]:hover {
  cursor: pointer;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

input {
  margin-top: 10px;
  height: 30px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  font-family: poppins, sans-serif;
}

/* MEDIA */

@media screen and (max-width: 768px) {
  #title {
    text-align: center;
  }
  main {
    flex-direction: column;
  }
  h2 {
    font-size: 38px;
  }
  form {
    margin: 0 auto;
  }
  input {
    width: 100%;
    align-self: center;
  }
  input[type="submit"] {
    width: 100%;
    align-self: center;
  }
  img {
    display: none;
  }
}

@media screen and (width: 2560px), screen and (width: 700px) {
  body {
    padding: 100%; 
  }
}

@media screen and (width: 1024px) {
  article {
    display: none;
  }
  body {
    padding: 200px;
  }
  #title {
    text-align: center;
    margin: 0 auto;
  } 
  input[type="submit"] {
    width: 100%;
    align-self: center;
  } 
}